[submodule "com.unity.hlod/Package/UnityMeshSimplifier"]
	path = com.unity.hlod/Package/UnityMeshSimplifier
	url = https://github.com/Unity-Technologies/UnityMeshSimplifier.git
[submodule "UGMeshSimplify"]
	path = UGMeshSimplify
	url = https://github.com/MorphKR/UGMeshSimplify.git
